@model CategoryWithProductViewModel
@{
    int sayac = 0;
    int sayac2 = 0;
}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Yemek Menümüz</h5>
            <h1 class="mb-5">Lezzet Kategorilerimiz</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
            
                @foreach (var item in Model.Categories)
                {
                    sayac++;
                    if (sayac == 1)
                    {
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-@item.CategoryId">
                                <i class="@item.Icon fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Lezzetli</small>
                                    <h6 class="mt-n1 mb-0">@item.Name</h6>
                                </div>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill" href="#tab-@item.CategoryId">
                                <i class="@item.Icon fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Lezzetli</small>
                                    <h6 class="mt-n1 mb-0">@item.Name</h6>
                                </div>
                            </a>
                        </li>
                    }

                }
                
            </ul>
            
            <div class="tab-content">

               @foreach (var item in Model.Categories)
                {
                    sayac2++;
                   if(sayac2==1)
                    {
                        <div id="tab-@item.CategoryId" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                @foreach (var item2 in Model.Products)
                                {
                                    if (item2.CategoryId == item.CategoryId)
                                    {
                                        <div class="col-lg-6">
                                            <div class="d-flex align-items-center">
                                                <img class="flex-shrink-0 img-fluid rounded" src="~/myimages/product/@item2.ImageUrl" alt="" style="width: 80px;">
                                                <div class="w-100 d-flex flex-column text-start ps-4">
                                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                        <span>@item2.Name</span>
                                                        <span class="text-primary">@item2.Price.ToString()</span>
                                                    </h5>
                                                    <small class="fst-italic">@item2.Content</small>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="tab-@item.CategoryId" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                @foreach (var item2 in Model.Products)
                                {
                                    if (item2.CategoryId == item.CategoryId)
                                    {
                                        <div class="col-lg-6">
                                            <div class="d-flex align-items-center">
                                                <img class="flex-shrink-0 img-fluid rounded" src="~/myimages/product/@item2.ImageUrl" alt="" style="width: 80px;">
                                                <div class="w-100 d-flex flex-column text-start ps-4">
                                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                        <span>@item2.Name</span>
                                                        <span class="text-primary">@item2.Price</span>
                                                    </h5>
                                                    <small class="fst-italic">@item2.Content</small>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }    
            </div>
        </div>
    </div>
</div>
