@model ResultAboutDto
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="~/myimages/about/@Model.ImageUrlOne">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="~/myimages/about/@Model.ImageUrlTwo" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="~/myimages/about/@Model.ImageUrlThree">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="~/myimages/about/@Model.ImageUrlFour">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Hakkımızda</h5>
                <h1 class="mb-4">@Model.TitleOne <i class="@Model.Icon"></i>@Model.TitleTwo</h1>
                <p class="mb-4">@Model.ContentOne</p>
                <p class="mb-4">@Model.ContentTwo</p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">@Model.ServiceTime</h1>
                            <div class="ps-4">
                                <p class="mb-0">Yıldır</p>
                                <h6 class="text-uppercase mb-0">Hizmetinizdeyiz</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">@Model.PersonCount</h1>
                            <div class="ps-4">
                                <p class="mb-0">Personel</p>
                                <h6 class="text-uppercase mb-0">Sayımız</h6>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>
